<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Accueil</title>
<link rel="stylesheet" href="../style.css">
</head>
<body>

<div class="layout">
    <!-- Sidebar chargée dynamiquement -->
    <div id="sidebar"></div>

    <!-- Contenu principal -->
    <main>

    </main>
    </div>
</div>

<script>
  fetch("../layout/menu.html")
    .then(res => res.text())
    .then(data => document.getElementById("sidebar").innerHTML = data)
    .catch(err => console.error("Erreur fetch :", err));
</script>

</body>